*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
.contanier{
    width: 80%;
    margin:auto ;
}
body{
  background-color: rgb(240, 240, 240);

}
.tittle{
  
  text-align: center;
  padding: 40px;
 
  color: #333;
}
.book{
    
     padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0px 27px;
}
.book-image{
   
    float: left;
    width: 30%;
    
    
}
.book-image img{
    width: 60%;
    border-radius: 0px 10px 10px 0px;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
}
.book-contant{
    
    float: left;
    width: 70%;
   padding-right: 270;
    
}
.book-contant h1{
  color: #333;
}
.book-contant p{
    font-weight: 400;
    font-size: 1.2rem;
}
.clear{
    clear: both;
}
.contanier button{
    background-color: rgb(208, 60, 60);
    padding: 7px 60px;
    cursor: pointer;
    border-radius: 3rem;
    color: white;
    font-size: 17px;
   border-style: none;
   margin: 5px 0px;
}
.contanier button:hover{
    background-color: rgb(248, 73, 73);
    
}
.book-price {
  background-color: rgb(248,248,248);
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px 5px;
  width: 190px;
  text-align: center;
  margin-left: 13px;
  color: #333;
}

.price-label {
  font-weight: bold;
  margin-bottom: 5px;
}



.logo {
  font-size: 24px;
}

.price {
  font-size: 36px;
  
}

.decimals {
  font-size: 20px;
 
}




.book-price:hover {
  background-color: #eaeaea;
  border-color: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 .author{
  margin: 35px 0px ;
  padding-left: 45px;
  
  
 }
 .author-image{
  
  width: 38%;
  float: right;
  
  position: relative;
  text-align: center;
  overflow: hidden;
 }
 .author-image img{
  width: 100%;
  border-radius: 5px;
 }
 .caption{
  background-color: rgba(255, 255, 255, 0.432);  
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;
 }
 .author-about{
  width: 60%;
  float: left;
  padding-left: 8px;
 }
 .author-about h1{
  color: #333;
 }
 .author-about p{
  font-weight: 400;
  font-size: 1.2rem;
 }
 .contanier2{
  width: 80%;
  
 }
 .caption h1{
  padding: 25px 0px;
  margin: 25px 0px;
  background-color: rgba(0, 0, 0, 0.333);
  transform: translateX(110%);
  transition: all 1s 0.2s;
 }
 .caption p{
  font-size: 20px;
  transform: translateX(110%);
  transition: all 1s 0.8s;
}
  .author-image:hover img{
    transform: scale(1.1);
    
  }
.author-image img{
  transition: all 1s;
}
.author-image:hover .caption{
  left: 0;
}
.author-about .trans{
  transition: all 1s 1.5s;
}
.author-about .caption p{
  position: relative;
  left: 110%;
  transition: all 1s 2.5s;
}
.caption:hover  h1{
  transform: translate(0%);
}
.caption:hover p{
  transform: translate(0%);
}
#colorChange{
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  font-size: 25px;
}
.change{
  text-align: center;
}
