body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Default light mode background color */
    color: #333;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.crime-books {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.book {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Adjustments for the last book to remove margin-right */
.book:last-child {
    margin-right: 0;
}

.book img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.description {
    padding: 20px;
}

.description h2 {
    margin-top: 0;
}

.description p {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #555;
}
