body{  overflow-x: auto;   
  margin: 0;
  width: 105%;
  width: auto;
  background-repeat: no-repeat; 
  background-size: cover;

}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1B4332;
  color: white;
  z-index: 1000; /* Ensure the navbar is above other content */
}
.title{
margin-left: 20px;
}
.header{
background-color: #1B4332;
color: white;
}
.audiocontainer{
text-align: center;
border-radius: 10px;
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
margin-left: 20px;
margin-bottom: 20px;
}
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
.items:hover{
background-color: lightgreen;
cursor: pointer;
}
form{
  display: inline-block;
}
.material-symbols-outlined{
margin-right: 7px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #1b4332;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 7px;
}

.search {
  color: antiquewhite;
  width: 200px; 
  border:none;
  background-color: transparent;
}
.search1{
  color: antiquewhite;
  width: 200px; 
  border:none;
  background-color: transparent;
  margin-left: 30px;
}
.search1::placeholder{
  color: white;
}
.search::placeholder{
  color: lightgray;
}
.login{
  float: right;
}
.material-symbols-outlined{
  float: left;
}
nav ul{
  padding: 0;
  list-style-type: none;
  margin: 0;  
  background-color: #b7e4c7;
  overflow: hidden;
}
nav a{
  text-decoration: none;
  color: #1b4332;
  padding: 15px;
  display: block;
  text-align: center;
}
nav a:hover{
background-color: #40916c;
}
nav li{
  float: left;
}
h1{
  text-align: center;
}
.Listbooks h2,h4{

  font-weight: 500;
  text-align: center;
  margin-left: 20px;
}
.Listbooks img{

  margin-top: 30px;
  margin-left: 25%;
  width: 50%;
  filter: drop-shadow(0 20px 20px #0009);
}
.Listbooks{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}
.search-container1 {
display: flex;
align-items: center;
justify-content: right; 
background-color: #1b4332;
padding: 10px 20px;
border-radius: 10px;
margin-top: 5px;
margin-bottom: 7px;
width: 90%;
height: 10px;
}
.CommentIcon{
margin-bottom: 28PX;
}
.bookDetailsContainer{
background: linear-gradient( #2D6A4F, #74C69D);

}
.btn {

margin: 0px;
width: 100%;
padding: 10px;
border: none;
outline: none;
background: #40916c;
color: white;
margin-top: 20px;
border-radius: 30px;
}
.btn:hover{
cursor: pointer;
background-color: gray;
}
.place{
margin: 0px;
width: 100%;
padding: 10px;
border: none;
outline: none;
background: #1b4332;
color: white;
margin-top: 20px;
border-radius: 30px;
}
.place:hover{
cursor: pointer;
background-color: gray;
}
.branch{
display: none;
}
@keyframes slideIn {
from {
  transform: translateY(50%);
  opacity: 0;
}
to {
  transform: translateY(0);
  opacity: 1;
}
}
.Listbooks div{
animation: slideIn 0.7s ease-in-out;
  padding: 20px;
  border-radius: 30px;
}
.books:hover{
 background-color: lightgray;
  cursor: pointer;
}
.Listbooks div a{
  text-decoration: none;
  color: black;
}
.Listbooks div a:visited{
color: black;
text-decoration: none;
}

.footer{
background:#081C15;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}

.bookDetailsContainer {
  display: none;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.bookDetailsContainer h2, .bookDetailsContainer p, .bookDetailsContainer h3 {
  color: white;
}