*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color:  rgb(30, 42, 55);
    ;
  }
  .container{
    width: 80%;
    margin: auto;
  
  }
  .bg{
    background-color: rgb(240, 240, 240);
  
  }
  .tittle{
      text-align: center;
      color: white;
      margin: 15px 15px;
      font-size: 20px;
  }
  .links{
      background-color:rgb(45,62,82) ;
      display: grid;
      place-items: center;
  }
  .links li{
      margin-left: 15px;
      padding: 20px 0px;
  }
  .links ul{
      list-style-type: none;
  
  }
  .links a{
      color: white;
      text-decoration: none;
      padding-left: 20px;
      transition: all 0.5s;
      display: inline-block;
  
  }
  .links a:hover{
      color: rgb(255, 192, 66);
      transform: scale(1.1);
  }
  .search{
    padding: 30px 0 15px 0;
    font-size: 18px;
  }
  .books{
    padding: 30px 20px 15px 20px; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 27px;}
  .book{
    width: 24%;
    float: left;;
    border: 2px solid rgb(245,245,245);
    margin-left: 10px;
    margin-bottom: 10px;
    
  }
  .book img{
  width: 100%;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
  }
  .captian {
    text-align: center;
    margin: 20px 0; 
  }
  .book-price {
    text-align: center
  }
  
  .price-label {
    font-weight: bold;
  }
  .logo,.decimals {
    font-size: 15px;
    position: relative;
    top: -1.2em;
  }
  .price {
    font-size: 40px; 
  }  
  .clear{
    clear: both;
  }
  .book button{
    margin: 20px 0;
  }
  .captian{
    padding-bottom: 40px;
  }
  .captian h3:hover {
    transform: scale(1.1);
  
  }
  .captian h3{
    transition: all 0.5s;
    cursor: pointer;
  }
  .captian a{
    text-decoration: none;
    color: black;
  }
  .captian a:hover {
    color: rgba(165, 42, 42, 0.832);
  }
  .captian button{
    background-color: #f29500;
    padding: 7px 27px;
    cursor: pointer;
    border-radius: 3rem;
    color:white;
    font-size: 17px;
   border-style: none;
   margin: 10px 0px;
  }
  .captian button:hover{
    background-color: #f29500d6;
  }
  .name-author{
    color: #565959 ;
  }
  .sold{
    color: rgb(177,39,4);
    font-weight: 650;
  }
  .available{
    color: green;
    font-weight: 650;
  }
  #back{
   display: grid;
  place-items: center;
    font-size: 25px;
    text-decoration: none;
  }
  #top{
    margin-bottom: 5px;
    transition: all 1s;
    color: rgb(30, 42, 55);
      border-radius: 50%; 
      border: 2px solid  rgb(30, 42, 55); 
      padding: 10px;  
    }      
  #top:hover{
    transform: scale(1.1);
  }
  .end{
    text-align: center;
    color: white;
    margin: 13px 0px;
  }
  .socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{

    padding: 10px ;
    margin: 10px ;
    background-color: white;
    border-radius: 50% ;
    text-decoration: none;
}   
.socialicons a i{
    font-size: 17px;
    color: black;
    transition: 0.5s;
} 
.socialicons a:hover{
    background-color:#f8e8d9;  
}
.socialicons a:hover i{
    color: rgb(253,57,8);
    transform:scale(1.4) ;  
}
  
  